* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

p {
  margin: 0;
}
.text-error {
  color: red;
}
.ml-4 {
  margin-left: 2rem;
}
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
.ml-3 {
  margin-left: 1.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mt-2 {
  margin-top: 1rem;
}

.line-through {
  text-decoration: line-through;
}
.width-40 {
  width: 40%;
}
.width-80 {
  width: 80%;
}
.flex {
  display: flex;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
